body{
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #e3b04b;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
}

.Contact-form{
	box-shadow:box-shadow: 0 0 20px 100 red;
}

.logo{
	text-align: center;
}
  
.logo span{
	color:#fff;
}

.title{
	margin-top: 40px;
	color: black;
}
.title h1{
	font-size: 48px;
	line-height: 40px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title h3{
	font-family: Arial, Helvetica, sans-serif;
}


form{
	margin-top: 80px;
}
.form-control{
	width: 600px;
	padding: 8px;
	background: transparent;
	border: 1px solid;
	outline: #ffffff;
	border-bottom: 1px solid #2b2b28;
	color: #2b2b28;
	font-size: 16px;
	margin-bottom: 16px;


}
input{
	height: 40px;
}
form .submit{
	background-color:#e3b04b ;
	border-color: transparent;
	color:#ffffff;
	font-size: 24px;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
	transition: 0.4s ease;
}
form .submit:hover{
	background-color:#2b2b28;
	cursor: pointer;
	color: #f1d6ab;

}





