body{
    background-color: #e3b04b;
    width: 80%;
    margin: auto;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 5px 10px 20px 0px;
    background-color:#f1d6ab ;
    border: solid #f1d6ab 10px;
    border-radius: 10px;
    height: 60px;
    width: 400px;
    margin-left: 32%;
    }
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-bottom: 60px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 5px 10px 20px 0px;
    background-color:#f1d6ab ;
    border: solid #f1d6ab 10px;
    border-radius: 10px;
    height: 60px;
    width: 600px;
    margin-left: 24%;
}
.section1{
    margin: 50px;
    margin-left: 100px;
    padding-top: 10px;
    padding-left: 80px;
    box-sizing: border-box;
    width: 30%;
    box-shadow: 5px 10px 20px 0px;
    background-color:#f1d6ab ;
    border-radius: 10px;
    transition: 0.7s;
}
.section1:hover{
        background-color: rgba(119, 73, 193);
        color: white;
        padding: 50px;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.Client1{
    margin-top: 30px;
    padding-left: 60px;
    box-sizing: border-box;
}
.Name1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left:60px;
}
.Job1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0px;

}
.section2{
    margin: 50px;
    padding-top: 10px;
    box-sizing: border-box;
    width: 30%;
    background-color:#f1d6ab ;
    box-shadow: 5px 10px 20px 0px;
    border-radius: 10px;
    margin-left: 100px;
    transition: 0.7s;
}
.section2:hover{
        background-color: rgba(119, 73, 193);
        color: white;
        padding: 50px;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
.Client2{
    margin-top: 30px;
    margin-left: 50px;   
}
.Name2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 60px;
}
.Job2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 40px;
}
.comment1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 90px;
    margin-left: 200px;
    box-sizing: border-box;
    width: 400px;
    box-shadow: 5px 10px 20px 0px;
    background-color:#f1d6ab ;
    padding-left: 15px;
    border-radius: 10px;
    height: 130px;
    font-weight: 20px;
    transition: 0.7s;
}
.comment1:hover{
    background-color: turquoise;
}
    
.contenu1{
    display: flex;
}
.contenu2{
    display: flex;
}
.comment2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 90px;
    margin-left: 200px;
    box-sizing: border-box;
    width: 400px;
    box-shadow: 5px 10px 20px 0px;
    background-color:#f1d6ab ;
    padding-left: 15px;
    border-radius: 10px;
    height: 130px;
    transition: 0.7s;
}
.comment2:hover{
    background-color: turquoise;
}